.pfp{
    width: 100px;
    height: 100px;
    border-style: solid;
    text-align: left;
}

ul{
    padding: 0;
    list-style-type: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

li{
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
    font-size: 40px;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: white;
}

hr{
    color: black;
    height: 5px;
    background: black;
}

.home{
    text-align: center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.text {
    font-size: 20px;
    width: 60%;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
  }

p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
  }
  
  img {
    max-width: 100%
  }
  
  .image {
    flex-basis: 40%
  }
  
  body{
    background-color: #353535;
  }

  .content{
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
    font-size: 40px;
    text-align: center;
  }

  .container2 {
    display: flex;
    align-items: top;
    justify-content: top;
    vertical-align: top;
  }

  .image2 {
    flex-basis: 40%
  }
  
  iframe{
      position: absolute; 
      height: 100%; 
      width:800px;
      display: block;
      border:none;
}