/* font throughout most of the website as well as body color */
body{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #e8e8e8;
}
/* header */
.header > header{
        background-color: #353535;
        position: fixed;
        
}
.ul > ul li{
    padding: 0;
    list-style-type: none;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
}

.li > li{
    display: inline-block;
    margin: 0 20px 0 0;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;    
}
.xeroviaimage li{
    width: 20px;
    height: 25px;
    display: inline-block;
    margin: 0 20px 0 0;
    color: rgb(255, 255, 255);
    list-style-type: none;
}